# https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

cots/
GeneratedFiles/
Win32/
message_file/
*Release*/
*Debug*/
lang/
language/
style/
*.tlog/
*.obj
*.dep
*.manifest
*.ncb
*.cache
*.suo
*.orig
*.ilk
*.dsw
*.dsp
*.pch
*.pdb
*.exe
*.idb
*.res
*.htm
*.html
*.rar
*.htm
*.lib
*.exp
*.log
*.ior
*.jar
*.log
*.sql
*.history
*.review
*.xsl
*.opensdf
*.sdf
*.vspscc
*.autosave
*.zip
*.rar
*.SQL
*.7z
*.xls
*.java
*.css
*.dll
*.tlog
sql.h
sqlmacrodef.h
dlldata.c
banner_p.c

